.button {
	width: 40px;
	height: 40px;
	font-family: inherit;
	font-weight: 600;
	font-size: 16px;
	margin: 0 10px;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease;
	background: transparent;
	color: #eee;
	border-color: #eee;
}
.active {
	width: 40px;
	height: 40px;
	font-family: inherit;
	font-weight: 900;
	font-size: 16px;
	margin: 0 10px;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease;
	background: var(--yellow);
	color: #101010;
	border-color: #101010;
}
