html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root{
  --blue:#4F7CAC;
  --lightblue:#91E5F6;
  --darkblue:#201E50;
  --fucsia:#E75A7C;
  --yellow:#FFC700;
  --grey: #757c7c;
  --lightgrey:#c5cfcf;
}

